@import "_variables";


*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    color: $black;
    font-family: $pseudo-title;
}

.head .container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    padding-top: 121px;
}

h1 {
    font-family: $pseudo-name;
    margin: 0 auto;
    font-size: 60px;
    line-height: 66px;
    color: $yellow;
    padding-bottom: 40px;
}

h2 {
    font-family: $pseudo-name;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    color: $dark-grey;
}

h3 {
    font-family: $pseudo-title;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    color: $dark-grey;
}

.pseudo-title {
    font-family: $pseudo-title;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    color: $grey;
}


.fire:before,
.fire:after {
    content: "";
    background: $border-color;
    height: 1px;
    width: 100%;
    display: inline-block;
    align-items: center;
    max-width: 210px;
    margin-bottom: 10px;
}

.fire {
    padding-bottom: 120px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 85px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.title-holder {
    padding: 30px 0;
}

.title-holder:after {
    content: "";
    background: $border-color;
    height: 1px;
    width: 100%;
    max-width: 100px;
    display: inline-block;
    align-items: center;
    transform: rotate(180deg);
    margin-top: 30px;
}

.img-holder {
    margin-left: 220px;
}

.list-item {
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding-left: 268px;
    gap: 5px;
}

.about {
    text-align: center;
}

.text-about {
    font-family: $pseudo-title;
    margin: 0 auto;
    width: 100%;
   padding-top: 50px;
   padding-bottom: 24px;
   
}

p {
    margin: 0 auto;
    width: 100%;
    max-width: 430px;
    padding-bottom: 30px;
    
}
.btn {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: $dark-grey;
    border: 1px solid $border-color;
    padding: 5px 10px;
    margin-top: 30px;
}

.icon-holder {
    padding-top: 30px;
}